:root{
  --verdim:#24802e;
}
  body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
  }
  
  header {
    background-color: var(--verdim);
    color: #fff;
    padding: 20px;
    text-align: center;
  }

  h1 {
    background-color: var(--verdim);
    padding: 10px;
    text-align: center;
    text-decoration: none;
  
  }

  nav a {
    text-decoration: none;
    color: #333;
    padding: 10px;
  }

  section {
    padding: 20px;
  }

  footer {
    background-color: var(--verdim);
    color: #fff;
    padding: 20px 0px 20px 0px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  @media only screen and (min-width: 600px) {
    nav {
      display: flex;
      justify-content: center;
    }
    nav a {
      margin: 0 10px;
    }
  }

  